<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Survaider</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/landing-page.min.css" rel="stylesheet">
    <link href="/static/css/multiple-select.css" rel="stylesheet"/>
    <title>Survaider</title>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Survidar</a>
        <a class="btn btn-primary" href="https://github.com/dineshsonachalam/Survaider" target="_blank">Github Link</a>
      </div>
    </nav>



             <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">

          <div class="col-lg-6">
            <div class="features-icons-item mx-auto ">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
                <div id="chart_div_1" ></div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto ">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>

                <div id="chart_div_2" ></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="showcase">
      <div class="container-fluid p-0">
            <!-- Table Goes here--->
            <h3 class="mb-5">&nbsp;Select Filter:</h3>
              <select id="select_options" multiple="multiple">
                  <optgroup label="Sex">
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>

                  </optgroup>
                  <optgroup label="Race">
                      <option value="White">White</option>
                      <option value="Asian-Pac-Islander">Asian-Pac-Islander</option>
                      <option value="Amer-Indian-Eskimo">Amer-Indian-Eskimo</option>
                      <option value="Other">Other</option>
                      <option value="Black">Black</option>
                  </optgroup>
                  <optgroup label="Relationship">
                      <option value="Wife">Wife</option>
                      <option value="Own-child">Own-child</option>
                      <option value="Husband">Husband</option>
                      <option value="Not-in-family">Not-in-family</option>
                      <option value="Other-relative">Other-relative</option>
                      <option value="Unmarried">Unmarried</option>
                  </optgroup>
              </select>
              <br/>
              <br/>
              &nbsp;
              <button class="btn btn-primary" onclick="update()" type="button">Update</button>
              <br/>
              <br/>
              {{html_table}}
      </div>
    </section>





    <!-- Footer -->


  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/static/js/multiple-select.js"></script>
  <script>
      // Load the Visualization API and the piechart package.
           google.charts.load('visualization', '1.0', {'packages':['corechart']});

           // Set a callback to run when the Google Visualization API is loaded.
           google.charts.setOnLoadCallback(drawChart);

           // Callback that creates and populates a data table,
           // instantiates the pie chart, passes in the data and
           // draws it.
           function drawChart() {

             // Create the data table.
             var data = google.visualization.arrayToDataTable([
              ['sex', 'Population',],
              ['Males', {{male_count}}],
              ['Females', {{female_count}}]

            ]);

             // Create the data table.
             var data2 = google.visualization.arrayToDataTable([
              ['relationship', 'Population',],
              ['Wife', {{Wife_count}}],
              ['Own-child',{{Own_child_count}}],
              ['Husband',{{Husband_count}}],
              ['Not-in-family',{{Not_in_family_count}}],
              ['Other-relative',{{Other_relative_count}}],
              ['Unmarried',{{Unmarried_count}}]
            ]);



             // Set chart options
             var options = {'title':'Distribution of number of males and females',chartArea : {width:"50%"},width:500,height:300
                        };

             // Set chart options
             var options2 = {'title':'Number of people in each relationship status',chartArea : {width:"50%"},width:500,height:300
                          };

             // Instantiate and draw our chart, passing in some options.
             var chart = new google.visualization.BarChart(document.getElementById('chart_div_1'));
             chart.draw(data, options);
             var chart2 = new google.visualization.BarChart(document.getElementById('chart_div_2'));
             chart2.draw(data2, options2);


           }


  // Opt Group Button

          $("select").multipleSelect({
              multiple: true,
              multipleWidth: 100,
              width: '100%'
          });

  // select_options
  //

  var selected_groups = $('select').multipleSelect('getSelects', 'text');
  console.log(typeof(selected_groups));
  console.log(selected_groups);
  //This will check if the object is empty
  if(Object.keys(selected_groups).length <= 0)
  {
      console.log("Object is Null");
      $('select').multipleSelect('checkAll');
  }

  function update()
  {
      var selected_groups = $('select').multipleSelect('getSelects', 'text');
      query_string = ""
      for (i in selected_groups)
      {
          if (selected_groups[i].indexOf(':') >=0)
          {
              console.log("Index:",selected_groups[i].indexOf(':'));
              console.log(": present");
              console.log(selected_groups[i]);

              var index = selected_groups[i].indexOf(':');
              var selected = selected_groups[i];
              var options = selected.substring(1, index);
              options = options.trim();
              // converting to lowercase
              options = options.toLowerCase();
              console.log("options:",options);

              var value = selected.substring(index+2, selected.length-1);
              value = value.replace(" ", "");


             console.log("Value:",value);
             query_string = query_string + options + "=" + value;
             console.log("--------------");
          }
          if(i<2)
          {
              query_string = query_string + "&";
          }
          query_string = query_string.trim();
      }
      console.log(query_string);
      window.location = "/?"+query_string;
  }

  $('#select_options').change(function () {
  //console.log('Selected values: ' + $('select').multipleSelect('getSelects'));
  //console.log('Selected texts: ' + $('select').multipleSelect('getSelects', 'text'));
  var selected_groups = $('select').multipleSelect('getSelects', 'text');
  //console.log(typeof(selected_groups));
  console.log(selected_groups);

  var data_array = Object.values(selected_groups);
  console.log("Data Array:",data_array);
  for (i in data_array)
  {
      console.log(data_array[i]);
      console.log("---------------------");

  }


  });



  </script>

</html>
